# PROBLEM

We've an input file (stats_basic_operations_1.csv) with the prices of houses in Gotham city. <br/>
Explore the dataset using built-in functions in pandas library <br/>

In [1]:
import os
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
# Check the current working directory and set it appropriately.
# cwd should point to the location where the input csv file resides.

os.getcwd()

'C:\\Users\\praveen\\DS_Notebooks\\hgwxx7'

In [4]:
# alternate way to list files in a directory

In [5]:
import glob

In [6]:
glob.glob('./*.csv')

['.\\stats_basic_operations_1.csv',
 '.\\stats_2_sample_independent_t_test_1.csv']

In [7]:
# Alternately you can specify the full path to the file.
# Here, I'm giving only the filename.
data = pd.read_csv("stats_basic_operations_1.csv")

In [8]:
data.columns

Index(['Price', 'LivingArea', 'Bathrooms', 'Bedrooms', 'LotSize', 'Age',
       'Fireplace'],
      dtype='object')

In [9]:
data.head()

   Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0  16858        1629        1.0         3     0.76  180          0
1  26049        1344        2.0         3     0.92   13          0
2  26130         822        1.0         2     0.56  173          0
3  31113        1540        1.0         2     0.04  115          0
4  40932        1320        1.0         3     0.17   90          0

In [10]:
data.tail()

       Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
1042  387652        3504        2.5         5     0.90    0          1
1043  391842        3003        3.5         4     0.46   88          1
1044  394532        3361        3.5         4     0.71    1          1
1045  432845        3250        2.5         3     0.53   23          1
1046  446436        3467        2.5         4     0.34    3          1

In [11]:
data[::-5]

       Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
1046  446436        3467        2.5         4     0.34    3          1
1041  379678        3720        4.0         5     0.80    0          1
1036  366772        3200        2.5         4     1.27    1          1
1031  347761        3820        4.5         4     1.40   18          1
1026  334556        3296        2.5         4     0.61    6          1
1021  329484        2786        2.5         4     0.39    0          1
1016  325262        3496        2.5         4     1.94    7          1
1011  312448        2919        2.5         4     0.05    5          1
1006  308750        2958        2.5         4     0.92    0          1
1001  300931         847        1.0         2     0.55   78          0
996   297024        3020        2.5         4     0.77    2          1
991   292524        2900        2.5         4     0.46    1          1
986   284154        2808        2.5         4     0.60    1          1
981   279522        2000        2.5         3     0.39    4          1
976   277235        2950        2.5         4     0.41    1          1
971   270841        2306        2.5         3     0.79    1          1
966   265848        2993        2.5         4     1.34   15          1
961   263226        3355        2.5         4     0.83    1          1
956   261872        2380        2.5         3     0.95    9          1
951   261011        3015        2.5         4     0.46    1          1
946   259999        2577        2.5         4     0.77    1          1
941   254944        2579        2.5         4     0.72    0          1
936   252872        2612        2.5         4     0.56   23          1
931   250723        2490        2.5         4     0.30    4          1
926   247520        2445        2.5         4     0.38   18          1
921   244382        2572        2.5         4     1.03    6          1
916   242952        1708        2.0         2     0.17   14          1
911   240857        1445        1.5         3     0.20   17          1
906   238951        2641        3.0         4     0.39    1          1
901   237367        2936        2.5         4     0.33    6          1
...      ...         ...        ...       ...      ...  ...        ...
146    99574        1628        1.5         2     0.32   30          1
141    99082         924        1.0         2     0.15   20          1
136    98423        1355        1.0         3     0.47   60          0
131    97783        1061        1.0         3     0.92   48          1
126    96934        1480        1.5         3     0.08   19          0
121    94868        1380        1.0         4     0.89  105          0
116    94405        1375        1.5         2     0.09   22          0
111    93846        1385        1.5         2     0.15   17          0
106    93174        1022        1.0         3     0.44   55          0
101    92436        1300        1.0         3     1.08   10          0
96     90678         957        1.0         3     0.18   49          0
91     89893        1480        2.5         2     0.29   14          1
86     88770        1000        1.0         3     0.52   91          0
81     87852         976        2.0         2     0.31   23          0
76     85585         912        1.5         2     0.16   20          0
71     84291         924        1.0         3     0.91   15          0
66     81762        1008        1.0         3     0.33   41          0
61     79982        1572        1.5         4     0.39   41          0
56     78191        1080        2.0         3     1.00   15          0
51     75975        1300        2.0         3     0.49  227          1
46     74422        2708        2.0         4     1.20   21          0
41     71904         957        1.0         3     0.19   45          0
36     69152         986        1.0         3     0.06  133          0
31     65550        1196        1.5         4     0.15   56          0
26     63101        1628        1.0         2     0.06  124          0
21     59043        1668        1.5         4     0.06  115          0
16     54210         792        1.0         2     0.40   55          0
11     49564        1363        2.0         3     2.40   39          0
6      44873         882        1.5         3     0.18   71          0
1      26049        1344        2.0         3     0.92   13          0

[210 rows x 7 columns]

In [12]:
data[:-1]

       Price  LivingArea  Bathrooms  Bedrooms  LotSize  Age  Fireplace
0      16858        1629        1.0         3     0.76  180          0
1      26049        1344        2.0         3     0.92   13          0
2      26130         822        1.0         2     0.56  173          0
3      31113        1540        1.0         2     0.04  115          0
4      40932        1320        1.0         3     0.17   90          0
5      44674        1214        1.0         3     0.14  103          0
6      44873         882        1.5         3     0.18   71          0
7      45004         960        1.0         2     0.54   11          0
8      45904        1328        1.0         4     0.19  103          0
9      47630        1235        1.0         3     0.32   84          1
10     49211         800        1.0         2     0.46   55          0
11     49564        1363        2.0         3     2.40   39          0
12     50483         743        1.0         3     0.05  105          0
13     50709         960        1.5         2     0.01   12          0
14     51183        1144        1.0         3     0.64   15          0
15     52360        1310        1.5         4     0.24  120          0
16     54210         792        1.0         2     0.40   55          0
17     55817        1688        2.0         5     0.17  119          0
18     55851         990        1.5         2     0.08   75          0
19     57678         924        1.0         1     0.17  104          0
20     59003        3285        2.0         5     0.42  233          0
21     59043        1668        1.5         4     0.06  115          0
22     60238        1664        1.5         3     0.21   76          0
23     60309        2039        1.0         3     0.24   55          0
24     62105        1228        1.0         2     0.31   53          0
25     62938        1064        1.0         3     0.13   95          0
26     63101        1628        1.0         2     0.06  124          0
27     63852        1536        1.5         4     0.46   30          1
28     64174         672        1.0         2     0.36   46          0
29     64552        1298        1.0         3     0.24  106          0
...      ...         ...        ...       ...      ...  ...        ...
1016  325262        3496        2.5         4     1.94    7          1
1017  326330        1326        1.0         3     2.00   52          0
1018  328491        2733        2.5         4     0.47    3          1
1019  329221        2934        2.5         3     0.66    9          1
1020  329328        3542        3.5         4     0.56    1          1
1021  329484        2786        2.5         4     0.39    0          1
1022  330219        2576        2.5         3     0.55   31          1
1023  332888        3111        2.5         4     0.50    3          1
1024  333411        3356        2.5         4     0.34    6          1
1025  334556        3376        2.5         4     0.83    7          1
1026  334556        3296        2.5         4     0.61    6          1
1027  337918        3026        4.0         4     1.34    1          1
1028  338596        1908        3.5         4     0.24   17          1
1029  340545        2926        3.0         4     0.84   11          1
1030  345364        3308        2.5         4     0.66    7          1
1031  347761        3820        4.5         4     1.40   18          1
1032  354739        3982        4.5         4     5.61    6          1
1033  355529        2186        2.5         3     1.40   12          0
1034  357138        2618        1.5         3     1.92    1          1
1035  357384        2322        2.5         3     0.27    0          1
1036  366772        3200        2.5         4     1.27    1          1
1037  368396        3358        3.5         4     0.58    9          1
1038  373227        2058        1.5         2     0.23   49          1
1039  378465        3457        2.5         3     1.00   20          1
1040  379472        3440        4.0         5     0.77    1          1
1041  379678        3720        4.0         5     0.80    0          1
1042  387652        3504        2.5         5     0.90    0          1
1043  391842        3003        3.5         4     0.46   88          1
1044  394532        3361        3.5         4     0.71    1          1
1045  432845        3250        2.5         3     0.53   23          1

[1046 rows x 7 columns]

In [13]:
data.describe()

,Price,LivingArea,Bathrooms,Bedrooms,LotSize,Age,Fireplace
count,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000,1047.000000
mean,163862.125119,1807.302770,1.918338,3.183381,0.569580,28.061127,0.593123
std,67651.558917,641.460916,0.641735,0.750265,0.777879,34.900899,0.491486
min,16858.000000,672.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,112014.000000,1336.000000,1.500000,3.000000,0.210000,6.000000,0.000000
50%,151917.000000,1672.000000,2.000000,3.000000,0.390000,18.000000,1.000000
75%,205235.000000,2206.000000,2.500000,4.000000,0.600000,34.000000,1.000000
max,446436.000000,4534.000000,4.500000,6.000000,9.000000,247.000000,1.000000

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047 entries, 0 to 1046
Data columns (total 7 columns):
Price         1047 non-null int64
LivingArea    1047 non-null int64
Bathrooms     1047 non-null float64
Bedrooms      1047 non-null int64
LotSize       1047 non-null float64
Age           1047 non-null int64
Fireplace     1047 non-null int64
dtypes: float64(2), int64(5)
memory usage: 57.3 KB

In [15]:
data.mean()

Price         163862.125119
LivingArea      1807.302770
Bathrooms          1.918338
Bedrooms           3.183381
LotSize            0.569580
Age               28.061127
Fireplace          0.593123
dtype: float64

In [16]:
data.median()

Price         151917.00
LivingArea      1672.00
Bathrooms          2.00
Bedrooms           3.00
LotSize            0.39
Age               18.00
Fireplace          1.00
dtype: float64

In [17]:
# finding the mean of individual columns
data.Price.mean()

163862.12511938874

In [18]:
# using axis
data.mean(axis=1)

0        2667.394286
1        3915.988571
2        3875.508571
3        4681.577143
4        6049.452857
5        6570.734286
6        6547.240000
7        6568.362857
8        6762.884286
9        6993.474286
10       7152.780000
11       7281.914286
12       7333.578571
13       7383.501429
14       7478.091429
15       7685.105714
16       7865.771429
17       8233.024286
18       8131.368571
19       8386.881429
20       8932.631429
21       8690.222857
22       8854.672857
23       8915.320000
24       9055.615714
25       9157.304286
26       9265.151429
27       9346.422857
28       9270.765714
29       9422.891429
            ...
1017    46816.285714
1018    47319.281429
1019    47453.022857
1020    47554.294286
1021    47468.270000
1022    47547.578571
1023    48001.428571
1024    48111.548571
1025    48278.190000
1026    48266.587143
1027    48707.905714
1028    48647.105714
1029    49070.120000
1030    49812.451429
1031    50229.985714
1032    51248.872857
1033    51104.842857
1034    51394.917143
1035    51387.538571
1036    52854.538571
1037    53110.297143
1038    53619.818571
1039    54564.214286
1040    54703.395714
1041    54772.685714
1042    55880.771429
1043    56420.280000
1044    56843.315714
1045    62303.575714
1046    64273.405714
Length: 1047, dtype: float64

In [19]:
# using axis
data.mean(axis=0)

Price         163862.125119
LivingArea      1807.302770
Bathrooms          1.918338
Bedrooms           3.183381
LotSize            0.569580
Age               28.061127
Fireplace          0.593123
dtype: float64

In [20]:
# skipping values
data.mean(axis=0, skipna=True)

Price         163862.125119
LivingArea      1807.302770
Bathrooms          1.918338
Bedrooms           3.183381
LotSize            0.569580
Age               28.061127
Fireplace          0.593123
dtype: float64

In [21]:
# find standard deviation of 'Age'
data.Age.std()

34.90089886735893

In [22]:
# find skew of LotSize
data.LotSize.skew()

5.2023913507949375

In [23]:
# First Quartile or 25th percentile
data.Bedrooms.quantile(0.25)

3.0