# Machine Learning | Python

In [1]:
# matplotlib - 2D plotting

import os
import pandas as pd
import numpy as np
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
os.getcwd()

'C:\\Users\\praveen\\DS_Notebooks\\sl_ml'

In [3]:
# Imputation
from sklearn.preprocessing import Imputer

In [4]:
os.listdir()

['.ipynb_checkpoints',
 '4th June',
 'Assignments',
 'ml_data_slr.csv',
 'ml_python_intro_1.csv',
 'ml_python_intro_1.ipynb',
 'ml_python_sim_lin_reg_.ipynb',
 'pnair',
 'pnr',
 'Salary_Data.csv',
 'Simple LR.zip',
 'SimpleLR(SalaryExample).ipynb']

In [5]:
ds = pd.read_csv('ml_python_intro_1.csv', header=None)

In [6]:
ds

         0     1         2    3
0   France  44.0  720000.0   No
1    Spain  27.0  480000.0  Yes
2  Germany  30.0  540000.0   No
3    Spain  38.0  610000.0   No
4  Germany  40.0       NaN  Yes
5   France  35.0  580000.0  Yes
6    Spain   NaN  520000.0   No
7   France  48.0  790000.0  Yes
8  Germany  50.0  830000.0   No
9   France  37.0  670000.0  Yes

In [7]:
ds.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [8]:
ds.columns = ['Country', 'Age', 'Salary', 'Flag']

In [9]:
pd.to_numeric(ds['Age'], errors='coerce')

0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
5    35.0
6     NaN
7    48.0
8    50.0
9    37.0
Name: Age, dtype: float64

In [10]:
pd.to_numeric(ds['Salary'], errors='coerce')

0    720000.0
1    480000.0
2    540000.0
3    610000.0
4         NaN
5    580000.0
6    520000.0
7    790000.0
8    830000.0
9    670000.0
Name: Salary, dtype: float64

In [11]:
features = ds.iloc[:,0:3].values

In [12]:
features

array([['France', 44.0, 720000.0],
       ['Spain', 27.0, 480000.0],
       ['Germany', 30.0, 540000.0],
       ['Spain', 38.0, 610000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 580000.0],
       ['Spain', nan, 520000.0],
       ['France', 48.0, 790000.0],
       ['Germany', 50.0, 830000.0],
       ['France', 37.0, 670000.0]], dtype=object)

In [13]:
# converted to np array?

In [14]:
label = ds.iloc[:,[3]].values

In [15]:
label

array([['No'],
       ['Yes'],
       ['No'],
       ['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)

In [16]:
# axis = 0 => impute along columns
# axis = 1 => impute along rows
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)

In [17]:
# Make sure that you're setting missing_values='NaN';
# missing_values='Nan' <= this will give you the below error
# TypeError: ufunc 'isnan' not supported for the input types, 
# and the inputs could not be safely coerced 
# to any supported types according to the casting rule ''safe''

In [18]:
features[:,[1,2]]

array([[44.0, 720000.0],
       [27.0, 480000.0],
       [30.0, 540000.0],
       [38.0, 610000.0],
       [40.0, nan],
       [35.0, 580000.0],
       [nan, 520000.0],
       [48.0, 790000.0],
       [50.0, 830000.0],
       [37.0, 670000.0]], dtype=object)

In [19]:
# impute features on 2nd and 3rd columns

features[:,[1,2]] = imputer.fit_transform(features[:,[1,2]])

In [20]:
type(features)

numpy.ndarray

In [21]:
features[:,[1,2]]

array([[44.0, 720000.0],
       [27.0, 480000.0],
       [30.0, 540000.0],
       [38.0, 610000.0],
       [40.0, 637777.7777777778],
       [35.0, 580000.0],
       [38.77777777777778, 520000.0],
       [48.0, 790000.0],
       [50.0, 830000.0],
       [37.0, 670000.0]], dtype=object)

In [22]:
features

array([['France', 44.0, 720000.0],
       ['Spain', 27.0, 480000.0],
       ['Germany', 30.0, 540000.0],
       ['Spain', 38.0, 610000.0],
       ['Germany', 40.0, 637777.7777777778],
       ['France', 35.0, 580000.0],
       ['Spain', 38.77777777777778, 520000.0],
       ['France', 48.0, 790000.0],
       ['Germany', 50.0, 830000.0],
       ['France', 37.0, 670000.0]], dtype=object)

In [23]:
# encoding categorical data

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
encode = LabelEncoder()

In [26]:
features[:,0] = encode.fit_transform(features[:,0])

In [27]:
features

array([[0, 44.0, 720000.0],
       [2, 27.0, 480000.0],
       [1, 30.0, 540000.0],
       [2, 38.0, 610000.0],
       [1, 40.0, 637777.7777777778],
       [0, 35.0, 580000.0],
       [2, 38.77777777777778, 520000.0],
       [0, 48.0, 790000.0],
       [1, 50.0, 830000.0],
       [0, 37.0, 670000.0]], dtype=object)

In [28]:
encode.classes_

array(['France', 'Germany', 'Spain'], dtype=object)

In [29]:
# this affects the mathematical gain
# hence to ensure the mathematical gain isn't affected
# use OneHotEncoder

In [30]:
from sklearn.preprocessing import OneHotEncoder

In [31]:
ohe = OneHotEncoder(categorical_features=[0])

In [32]:
features = ohe.fit_transform(features).toarray()

In [33]:
features

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+05],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+05],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+05],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+05],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+05],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+05],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+05]])

In [34]:
# result of One Hot Encoding is dummy variable
# number of dummy variable = no. of categories available

In [35]:
type(features)

numpy.ndarray